body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  color: #40514E;
}

.subhead {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.7rem;
  color: #3e9c87;
  font-weight: bold;
}

h1 {
  margin-bottom: 0;
  color: #318d78;
  font-family: 'Rancho', cursive;
  font-size: 5.625rem; /*  16px== 100% == 1em  But keeping use rem to give font size values */
}

h2 {
  color: #3e9c87;
  font-weight: 900;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color:#3e9c87;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
}

hr{
  border : dotted  6px;
  border-bottom: 0px;
  width: 5%;
  color: #babfc4;
  margin: 100px auto;
}

a{
  color:  #318d78;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: white;
}

.copyright{
  color: white;
  font-size: 0.95rem;
  padding: 20px;
}
.intro{
  margin: auto;
  width: 40%;
  line-height: 2;
}
.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 40px;
}

.middle-container{
  margin: 100px 0px;
  font-size: 1.2rem;
  font-weight: bold;
}

.welcome-img{
  margin-top: 50px;
}


.bottom-container {
  background-color: #6bd6bb;
  padding: 50px 0 20px;
}
.contact-message{
  width: 40%;
  line-height: 2;
  margin: 40px auto 60px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  font-size: 1.2rem;
  font-weight: bold;
}

.profile-pic{
  width: 17%;
}
.img1{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.img2{
  width: 25%;
  float: right;
  margin-left: 30px
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 200px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 450px;
}
.btn {
  background: #6ad4bb;
  background-image: -webkit-linear-gradient(top, #6ad4bb, #2f9980);
  background-image: -moz-linear-gradient(top, #6ad4bb, #2f9980);
  background-image: -ms-linear-gradient(top, #6ad4bb, #2f9980);
  background-image: -o-linear-gradient(top, #6ad4bb, #2f9980);
  background-image: linear-gradient(to bottom, #6ad4bb, #2f9980);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #39d1a6;
  background-image: -webkit-linear-gradient(top, #39d1a6, #0a916f);
  background-image: -moz-linear-gradient(top, #39d1a6, #0a916f);
  background-image: -ms-linear-gradient(top, #39d1a6, #0a916f);
  background-image: -o-linear-gradient(top, #39d1a6, #0a916f);
  background-image: linear-gradient(to bottom, #39d1a6, #0a916f);
  text-decoration: none;
}
